
.renamethislater {
    text-align: center;
    align-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;

}


#generatedPasswordTextStringBox {
    position: relative;
    top: -9px;
}