/* Sehun Babatunde */

.renamethislater {
    text-align: center;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;

}
.h1 {
    text-align: center;
    
} 

#generatedPasswordTextStringBox {
    text-align: center;
    align-content: center;
    /* height: 200px;
    max-height: 200px; */
   
} 

/*
#numbersInPasswordCheckbox, #numbersInPasswordLabel{
    text-align: center;
    align-content: center;
   
} 

#symbolsInPasswordCheckbox, #symbolsInPasswordLabel {
    text-align: center;
    align-content: center;
   
}  */